/* Fonts */

@font-face {
	font-family: 'MuseoBold';
	src: url('../fonts/MuseoSansCyrl-700.eot');
	src: url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoReg';
	src: url('../fonts/MuseoSansCyrl-300.eot');
	src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
		url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

.bold() {
	font-family: 'MuseoBold' , sans-serif;
}
.reg() {
	font-family: 'MuseoReg' , sans-serif;
}
.hover(@text, @bg) {
		color: @text;
		background-color: @bg;
}
.img-header() {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
	left: 50%;
	width: 65px;
	height: 20px;
	transform: translateX(-50%) translateY(-4rem);
	background-color: transparent;
}
.section-form() {
	padding: 5rem 0 10rem 0;
		background-color: @light;
		h3 {
			font-size: 2.4rem;
			.bold();
			margin-bottom: 2rem;
		}
		p {
			font-size: 1.8rem;
			margin-bottom: 6rem;
		}
}


/* Colors */

@text-color: #292929;
@icon-color: #5ba2a9;
@features-color: #e7f7f9;
@input-color: #d0d0d0;
@light: #ffffff;

/* Basic sattings */

html {
	font-size: 10px;
}

body {
	.reg();
	color: @text-color;
}

button, input, a, textarea, .slider-item {
	&:focus {
		outline: none;
	}
}

.button {
	background: none;
	border: 2px solid @light;
	font-size: 2rem;
	text-transform: uppercase;
	&:hover {
		.hover(@text-color, @light);
	}
}

.forms {
	input {
		padding: 1rem 2rem;
		margin-right: 1rem;
		font-size: 1.8rem;
		border: 1px solid @input-color;
		&:focus {
			background: @light;
		}
	}
	&-user {
		background: #fff url(../img/form-icons/user.svg) center right 2rem no-repeat;
	}
	&-tel {
		background: #fff url(../img/form-icons/tel.svg) center right 2rem no-repeat;
	}
	&-btn {
		padding: 1rem 6rem;
		background-color: @icon-color;
		color: @light;
		border: none;
		vertical-align: top;
		&:hover {
			background-color: darken(@icon-color, 10%);
			color: @light;
		}
	}
}

section {
	padding: 5rem 0;
	h2 {
		text-transform: uppercase;
		font-size: 3rem;
		.bold();
	}
}
/* Main */

.main {
	position: relative;
	padding: 3rem 0;
	background: #333 url(../img/main/main-bg.jpg) center no-repeat;
	background-size: cover;
	z-index: 0;
	&-logo {
		display: inline-block;
		padding: 1rem 2rem;
		border: 2px solid @light;
		color: @light;
		font-size: 2.4rem;
		text-transform: uppercase;
		span {
			font-size: 3rem;
			margin-right: 0.5rem;
		}
	}
	&-contacts {
		text-align: right;
		color: @light;
		font-size: 2.4rem;
		a {
			color: @light;
			text-decoration: underline;
			font-size: 1.8rem;
			&:hover {
				color: darken(@light, 20%);
			}
		}
	}

	&-header {
		margin-top: 7rem;
		text-align: center;
		color: @light;
		h1 {
			font-size: 3.3rem;
			line-height: 1.818;
			strong {
				font-size: 5.5rem;
			}
		}
		.header-btn {
			margin-top: 7rem;
			padding: 2rem 7rem;
		}
	}
	&-offers {
		margin-top: 12rem;
		color: white;
		&-item {
			text-align: center;
			img {
				display: inline-block;
			}
			p {
				margin-top: 2rem;
			}
		}

	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.86);
		z-index: -1;
	}
}

/* Event */

.event {
	&-header {
		position: relative;
		margin-bottom: 5rem;
		text-align: center;

		&:before {
			.img-header();
			background: url(../img/top-icons/heart.png) center no-repeat;
		}
	}
	&-slider {
		&-item {
			img {
				width: 100%
			}
		}
	}
	&-form {
		text-align: center;
		margin-top: 6rem;
		h3 {
			font-size: 2.4rem;
			.bold();
		}
		p {
			margin-bottom: 6rem;
			font-size: 1.8rem;
		}
	}
}

/* Advantages */

.advantages {
	background-color: @features-color;
	&-header {
		position: relative;
		text-align: center;
		margin-bottom: 7rem;
		&:before {
			.img-header();
			background: url(../img/top-icons/star.png) center no-repeat;
		}
	}
	&-item {
		margin-bottom: 10rem;
		text-align: center;
		p {
			font-size: 1.6rem;
		}
		img {
			height: 6rem;
			margin-bottom: 2rem;
		}
	}
}

/* Price */

.price {
	text-align: center;
	&-header {
		position: relative;
		text-align: center;
		margin-bottom: 5rem;
		&:before {
			.img-header();
			background: url(../img/top-icons/money.png) center no-repeat;
		}
	}
	&-item {
		padding: 4rem;
		width: 100%;
		margin-bottom: 2rem;
		display: inline-block;
		text-align: center;
		border: 1px solid @input-color;
		box-shadow: 0 0 20px @input-color;
		h3 {
			font-size: 1.6rem;
		}
		p {
			font-size: 1.4rem;
			strong {
				font-size: 4.8rem;
				color: @icon-color;
			}
			small {
				font-size: 1.8rem;
				color: @icon-color;
			}
		}
		.price-btn {
			padding: 1rem 3rem;
			margin-top: 3rem;
			border: 1px solid @input-color;
			&:hover {
				color: @light;
				background-color: @icon-color;
			}
		}
	}
}


/* Features */

.features {
	text-align: center;
	background-color: @features-color;
	padding-bottom: 0;
	&-header {
		position: relative;
		margin-bottom: 7rem;
		&:before {
			.img-header();
			background: url(../img/top-icons/photo.png) center no-repeat;
		}
	}
	&-item {
		margin-bottom: 7rem;
		p {
			margin-top: 3rem;
			font-size: 1.8rem;
		}
	}
	&-form {
		.section-form();
	}
}

/* Feedback */

.feedback {
	background: @features-color url(../img/feedback/feedback-bg.jpg) center top;
	background-size: 100% ;
	padding-bottom: 0;
	&-header {
		position: relative;
		margin-bottom: 8rem;
		text-align: center;
		&:before {
			.img-header();
			background: url(../img/top-icons/message.png) center no-repeat;
		}
	}
	&-form {
		text-align: center;
		.section-form();
	}
	&-slider {
		
		background-color: transparent;
		margin-bottom: 8rem;

		&-item {
			position: relative;
			text-align: right;
			.img {

				background-color: @features-color;
				img {
					position: absolute;
					width: 30%;
					top: 50%;

					transform: translateY(-50%);
					left: 0;
				}
			}
			.slider-text {
				text-align: justify;
				background-color: @light;
				display: inline-block;
				padding: 6rem 6rem 6rem 20rem;
				width: 90%;
				span {
					position: absolute;
					font-size: 1.6rem;
					top: 2rem;
					right: 2rem;
				}
				h3 {
					font-size: 2rem;
					.bold();
					margin-bottom: 3.5rem;
				}
				p {
					font-size: 1.8rem;
				}
			}
		}
		.slick-dots {
			text-align: right;
			position: absolute;
			bottom: 0;
			right: 0;
			.slick-active {
				button {
					background-color: @icon-color;
				}
			}
			li {
				display: inline-block;
				margin-right: 1rem;
				button {
					background-color: transparent;
					color: transparent;
					border-radius: 50%;
					width: 1.5rem;
					height: 1.5rem;
					border: 1px solid @icon-color;
				}
			}
		}
	}
}

/* Photos */

.photos {
	background-color: @features-color;
	padding-bottom: 0;
	&-header {
		position: relative;
		margin-bottom: 8rem;
		text-align: center;
		&:before {
			.img-header();
			background: url(../img/top-icons/landscape.png) center no-repeat;
		}
	}
	&-form {
		text-align: center;
		.section-form();
	}
	img {
		width: 100%;
		margin-bottom: 2rem;
	}
	&-gallery {
		margin-bottom: 10rem;
	}
	&-section {
		position: relative;
		&:hover .photos-section-item {
			display: inline-block;
		}
		&-item {
			position: absolute;
			display: none;
			text-align: center;
			width: 80%;
			height: 70%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: rgba(0, 0, 0, 0.5);
			
			.wrap {
				display: table;
				width: 100%;
				height: 100%;
				&-sell {
					display: table-cell;
					text-align: center;
					vertical-align: middle;
					p {
						font-size: 1.4rem;
						color: @light;
					}
					.date {
						font-size: 1.2rem;
					}
				}
			}
			img {
				width: 20%;
				height: 20%;
			}
		}
	}

}

/* Footer */

.footer {
	position: relative;
	padding: 3rem 0;
	background-color: #2b2b2b;
	z-index: 0;
	&-logo {
		display: inline-block;
		padding: 1rem 2rem;
		border: 2px solid @light;
		color: @light;
		font-size: 2.4rem;
		text-transform: uppercase;
		span {
			font-size: 3rem;
			margin-right: 0.5rem;
		}
	}
	&-contacts {
		text-align: right;
		color: @light;
		font-size: 2.4rem;
		a {
			color: @light;
			text-decoration: underline;
			font-size: 1.8rem;
			&:hover {
				color: darken(@light, 20%);
			}
		}
	}
}

/* Modal */

.popup {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);


	&-form {
		padding: 0;
		.forms {
			input {
				display: block;
				margin: 2rem auto;

			}
			&-btn {
				padding: 1rem 3rem;
			}
		}
	}

	&-close {
		position: absolute;
		top: -1.5rem;
		right: -3rem;
		font-size: 3rem;
		border: none;
		background-color: transparent;
		text-align: center;
		color: @light;
	}

	&-header {
		.bold();
		font-size: 2rem;
	}

	&-content {
		position: fixed;
		left: 50%;
		top: 5%;
		transform: translateX(-50%);
		background-color: @light;
		padding: 4rem 5rem;
		text-align: center;
	}
}

/* Popup-thx */

.popup-thx {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	&-content {
		position: fixed;
		left: 50%;
		top: 5%;
		transform: translateX(-50%);
		background-color: @light;
		padding: 4rem 5rem;
		text-align: center;
		.wrap {
			display: table;
			width: 100%;
			height: 25rem;

			&-cell {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				h2 {
					font-size: 5rem;
					.bold();
					color: @icon-color;
				}
			}
		}
	}
}

/* Media */


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
	.main {
		&-header {
			h1 {
				font-size: 2rem;
				strong {
					font-size: 3rem;
				}
			}
			.header-btn {
				margin-top: 7rem;
				padding: 2rem 5rem;
			}
		}
	}
	.price-btn {
		font-size: 1.0rem;
	}
	.feedback {
		.img {
			img {
				width: 20rem;
			}
		}
	}
	.popup {
		&-content {
			padding: 4rem 3rem;
		}
		&-close {
		position: absolute;
		top: 0rem;
		right: 1rem;
		font-size: 3rem;
		border: none;
		background-color: transparent;
		text-align: center;
		color: @icon-color;
	}
	}
	.forms {
		&-btn {
			padding: 1rem 3.5rem;
			font-size: 1.83rem;
		}
	}
}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { 
	.main {
		&-wrapper {
			text-align: center;
		}
		&-contacts {
			margin-top: 2rem;
			text-align: center;
		}
		&-header {
			h1 {
				font-size: 2.5rem;
				strong {
					font-size: 3.5rem;
				}
			}
		}
	}
	.photos {
		&-section {
			&:hover .photos-section-item {
			display: none;
		}
		}
	}
	.footer {
		&-wrapper {
			text-align: center;
		}
		&-contacts {
			margin-top: 2rem;
			text-align: center;
		}
	}
	.advantages {
		&-item {
			margin-bottom: 5rem;
		}
	}
	.feedback {
		.img {

				background-color: @features-color;
				img {
					position: absolute;
					width: 20rem;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
				}
		}
		.slider-text {
			padding: 23rem 6rem 6rem 6rem;
			width: 100%;
			span {
				position: absolute;
				font-size: 1.6rem;
				top: 93%;
				left: 2rem;
			}
			h3 {
				text-align: center;
			}
		}
	
	}
	.popup {
		&-form {
			.forms {
				&-btn {
					font-size: 1.5rem;
					width: 100%;
				}
			}
		}
	}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) { 
	.forms {
		input {
			margin-bottom: 2rem;
		}
	}
	.advantages {
		&-item {
			margin-bottom: 5rem;
		}
	}
	.popup-thx {
		&-content {
			.wrap {
				height: 20rem;
				&-cell {
					h2 {
						font-size: 3rem;
					}
				}
			}
		}
	}
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) { }